@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, 'Inter', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #e6fffa;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card{
  background-color: white;
  width: fit-content;
}

#menu-toggle:checked + #menu {
  display: block;
}

@layer components {
  .headline {
    @apply text-white p-2;
  }
  .headline-link {
    @apply text-green-200 cursor-pointer;
  }
  .text-question {
    @apply text-white font-semibold pt-2;
  }
  .text-answer {
    @apply  text-white pb-2;
  }
}