@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, 'Inter', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, 'Playfair Display',
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card{
  background-color: white;
  width: fit-content;
}

#menu-toggle:checked + #menu {
  display: block;
}

@layer components {
  /* */
  .subcontainer{
    @apply bg-gray-50 py-4 px-5 rounded-lg ring-1 ring-gray-200;
  }
  .subcontainer-text{
    @apply font-medium text-2xl pb-2;
  }
  .alert{
    @apply bg-gray-100 p-3 rounded-lg text-center text-sm font-medium text-pacific-800 ring-1 ring-gray-200;
  }

  /*For Form Elements*/
  .email-input{
    @apply px-3 py-2 rounded-md ring-1 ring-gray-300 outline-none col-span-2 lg:col-span-3 xl:col-span-2;
  }
  .email-input:focus{
    @apply ring-pacific-900;
  }
  .submit-button{
    @apply font-medium px-4 py-2 bg-gray-150 text-sm text-pacific-800 rounded-md col-span-1 lg:col-span-3 xl:col-span-1;
  }
  .submit-button:hover{
    @apply bg-gray-200;
  }
  .submit-button:hover{
    @apply outline-none;
  }
  .clicked-success{
    @apply cursor-not-allowed bg-pacific-800 text-gray-100;
  }

  /* For Navbar buttons */
  .active-nav-button {
    @apply rounded-lg  p-2 px-3 mx-1 bg-pacific-900 text-sm text-white font-medium;
  }
  .inactive-nav-button {
    @apply rounded-lg p-2 px-3 mx-1 text-sm text-gray-200 font-medium;
  }
  .inactive-nav-button:hover {
    @apply bg-pacific-900 text-white;
  }
  .inactive-nav-button:focus {
    @apply outline-none;
  }

  /* For Headlines text */
  .headline {
    @apply py-1;
  }
  .headline-link {
    @apply text-pacific-800 cursor-pointer;
  }

  /* For Q&A page text */
  .text-question {
    @apply font-medium;
  }
  .text-answer {
    @apply font-normal;
  }

  /* For BlogCard colors*/
  .band{
    @apply w-4;
  }
  /* .band-default{
    @apply band bg-gray-400;
  } */
  .band-basics{
    @apply band bg-green-300;
  }
  .band-deep-dive{
    @apply band bg-indigo-300;
  }
  .band-dosanddonts{
    @apply band bg-red-300;
  }
  .band-spotlight{
    @apply band bg-yellow-300;
  }
  /* .blog-card:hover > .band-default{
    @apply bg-gray-500;
  } */
  .blog-card:hover > .band-basics{
    @apply bg-green-400;
  }
  .blog-card:hover > .band-deep-dive{
    @apply bg-indigo-400;
  }
  .blog-card:hover > .band-dosanddonts{
    @apply bg-red-400;
  }
  .blog-card:hover > .band-spotlight{
    @apply bg-yellow-400;
  }

  /* For BlogView text */
  .markdown-title{
    @apply font-serif text-4xl mb-4;
  }
  .markdown-subtitle{
    @apply uppercase text-xs;
  }
  .markdown h1{
    @apply font-serif text-2xl font-semibold mt-6;
  }
  .markdown h2{
    @apply text-xl font-medium my-1;
  }
  .markdown p {
    @apply font-serif p-1;
  }
  .markdown img {
    @apply m-auto mt-3 w-11/12 md:w-3/5 lg:w-3/5 xl:w-3/5 border-2 rounded-lg border-pacific-800; 
  }
  .markdown a{
    @apply text-pacific-800;
  }
  .markdown a:hover{
    @apply underline;
  }
}